#footer{
    padding: 2em;
    background-color: #222;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer p{
    font-size: 1.3em;
    font-weight: 800;
    color: #fff;
}
#footer span{
    color: #3a6cf4;
}
#footer i{
    color: #fff;
    font-size: 1.3em;
    padding: 5px 12px;
}
@media (max-width:1000px){
    #footer p{
        font-size: .7em;
        font-weight: 800;
        color: #fff;
        margin-top: 5px;
    }
    #footer i{
        color: #fff;
        font-size: .8em;
        padding: 0 5px;
        
    }
}